@media screen and (max-width: 430px) {
  h1 {
    font-size: 36px;
    line-height: 42px;
  }

  h2 {
    font-size: 29px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
  }

  h4 {
    font-size: 20px;
  }

  .text-normal {
    font-size: 16px;
  }

  .text-caption {
    font-size: 14px;
  }

  .text-other {
    font-size: 12px;
  }
}
