h1, h2, h3, h4 {
  font-family: "Navigo";
  font-weight: 700;
}

h1 {
  font-size: 60px;
  line-height: 70px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  line-height: 42px;
}

h4 {
  font-size: 24px;
}

.text-normal {
  font-family: "Hauss";
  font-size: 18px;
}

.text-caption {
  font-family: "Hauss";
  font-size: 16px;
}

.text-other {
  font-family: "Hauss";
  font-size: 13px;
}