@media screen and (max-width: 430px) {
  .benefits__item {
    min-width: 200px;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .benefits__list {
    justify-content: center;
    margin-bottom: 0;
  }

  .container--benefits {
    padding-bottom: 40px;
  }

  .benefits__big-text {
    font-size: 48px;
  }
  .benefits__med-text {
    font-size: 30px;
  }

  .benefits__text {
    font-size: 14px;
  }
}
