.button {
  width: fit-content;
  background-color: #fee600;
  padding: 15px 28px;
  border-radius: 10px;
  color: #2b2d33;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    background-color: #fed500;
  }
}
