.cashback__list {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.cashback__item {
    background-color: #29476B;
    border-radius: 14px;
    padding: 60px 28px;
    display: flex;
    align-items: center;
    margin-right: 24px;
    flex: 1;
    position: relative;
    overflow: hidden;
    &:last-child {
        margin-right: 0;
    }
}

.cashback__text {
    max-width: 190px;
    font-weight: 500;
}

.cashback__img {
    position: absolute;

    &--1 {
        right: 25px;
    }

    &--2 {
        top: 0;
        right: 25px;
    }
    
    &--3 {
        right: -40px;
    }
}