.footer {
    padding: 90px 0 50px;
}

.footer__inf {
    display: flex;
    justify-content: space-between;
    color: #55575C;
    padding: 29px 0;
}

.footer__address {
    font-style: normal;
}

.footer__legal-frame {
    max-height: 122px;
    overflow-x: auto; 
    color: #808185;
    padding-right: 35px;
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 4px;
        background-color: #E1E1E3;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #808185;
        border-radius: 4px;
    }
}

.container--legal-frame {
    margin-top: 50px;
}