@media screen and (max-width: 360px) {

    .header {
        padding: 18px 0;
    }

    .container--header {
      max-width: 344px;
      padding: 0 5px;
    }

    .contact::before {
        content: "";
        display: flex;
        background-image: url("./../img/contact.svg");
        width: 24px;
        height: 24px;
    }

    .contact__text, .contact__number {
        display: none;
    }

    .logo__img {
        max-height: 28px;
        &--visa {
            max-width: 74px;
        }
    }
}