.container--header {
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 22px;
}

.logo {
    display: flex;
}

.logo__link {
    align-self: center;
}

.contact {
    text-align: right;
    margin-left: auto;
    padding-top: 3px;
}

.contcat__text {
    color: #808185;
}